
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Lato&family=Montserrat:wght@500;700&family=Poppins:ital,wght@1,100&family=Roboto+Condensed:ital@1&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.hero{
  background-image: url('../images/cow.jpg');
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 55% 100%, 50% 100%, 0 82%);
}
.hero h1{
  color: azure;
  font-size: 100px;
  text-align: center;
  font-weight: 900;
  padding-top: 60px;
  font-family: cursive;
  word-spacing: 40px;
  letter-spacing: 20px;
}
.article , #cow-type{
  width: 80%;
  margin: 60px auto;
 
  padding: 60px;
  
  border-color: yellow;
  background: linear-gradient(45deg, pink,rgb(93, 93, 213));
 
}
.article h2, #cow-type h2{
  text-align: center;
  font-size: 48px;
  border-bottom: 2px;
  border-width: 2px;
  border-color: yellow;
  border-style: groove;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 30px;
  margin-bottom: 60px;
}
.article p{
  font-size: 28px;
  line-height: 2em;
}
.article p .imp{
  font-size: 2em;
  background-color: yellow;
  display: inline;
  width: 600px;
}
.cow-images{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.cow-images div{
  min-width: 300px;
}
.cow-images img{
  width: 100%;
}